:root {
  --var--light-blue: #b6ccc9;
  --var--dark-blue: #5b8e85;
  --var--light-white: #fdfdfd;
  --var--dark-whitebluish: #e1e9e8;
  --var--medium-blue: #84a9a3;
  --var--light-black: #282828;
}

.app {
  overflow: hidden;
}
